.section_introductory {
  padding: 120px 0 204px 0;

  .wrapper_social {
    display: flex;
    align-items: center;
    height: 100%;
  }

  h1.introductory_name {
    font-size: 5.4rem;
  }

  span.service_line {
    display: inline-block;
    width: 100px;
    border: 1px solid #888;
    height: 1px;
  }

  span.introductory_service {
    font-size: 2.2rem;
    color: #666;
  }
}

.social_link {
  display: flex;
}

.image_content {
  display: flex;
  justify-content: center;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}